@import './home';
@import './photo';

.page {
  height: 100vh;
  color: white;
  text-align: center;
  background: linear-gradient(
    180deg,
    #332A7B,
    #015A9C 150px,
    #F4793E 300px
  );

  .mountains {
    position: absolute;
    z-index: 0;
    height: 800px;
    width: 100%;
    top: 200px;
    background: url('../../images/outline2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  .content {
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;

    .logo {
      background: url('../../images/logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 40%;
      margin: 5rem auto 15rem;
    }
  }

}