.error .error-message {
  width: 70%;
  margin: 2rem auto;
  font-size: 2.5rem; }

.error .error-button {
  color: white;
  background: #332A7B;
  width: 6rem;
  margin: 0 auto;
  padding: .75rem .5rem;
  cursor: pointer;
  border-radius: 3px; }

.user-form {
  width: 50%;
  padding: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: transparent;
  margin: 2rem auto; }
  .user-form .instructions {
    font-size: 2rem; }
  .user-form .input-field {
    margin: 2rem auto; }
    .user-form .input-field input {
      text-align: center;
      width: 50%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      height: 1.5rem;
      font-size: 1rem;
      background: transparent;
      color: #FFFFFF; }
    .user-form .input-field ::-webkit-input-placeholder {
      color: #FFFFFF; }
  .user-form .submit-button {
    color: white;
    background: #332A7B;
    width: 5rem;
    margin: 0 auto;
    padding: .75rem 1rem;
    cursor: pointer;
    border-radius: 3px; }
    .user-form .submit-button.disabled {
      pointer-events: none;
      background: transparent;
      border: 2px solid #FFFFFF; }

.share {
  width: 80%;
  margin: 0 auto; }
  .share .share-help {
    font-size: 2rem; }
  .share .share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .share .share-buttons .share-button {
      width: 10rem;
      border: 1px solid #FFFFFF;
      padding: .5rem 1rem;
      border-radius: 3px;
      cursor: pointer; }
      .share .share-buttons .share-button:hover {
        background: #332A7B;
        border: transparent; }
      .share .share-buttons .share-button.disabled {
        pointer-events: none; }
    .share .share-buttons a {
      text-decoration: none;
      color: #FFFFFF; }
