.photo .photo-text {
  font-size: 2rem; }

.page {
  height: 100vh;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, #332A7B, #015A9C 150px, #F4793E 300px); }
  .page .mountains {
    position: absolute;
    z-index: 0;
    height: 800px;
    width: 100%;
    top: 200px;
    background: url("../../images/outline2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; }
  .page .content {
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center; }
    .page .content .logo {
      background: url("../../images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 40%;
      margin: 5rem auto 15rem; }

.error .error-message {
  width: 70%;
  margin: 2rem auto;
  font-size: 2.5rem; }

.error .error-button {
  color: white;
  background: #332A7B;
  width: 6rem;
  margin: 0 auto;
  padding: .75rem .5rem;
  cursor: pointer;
  border-radius: 3px; }

.user-form {
  width: 50%;
  padding: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: transparent;
  margin: 2rem auto; }
  .user-form .instructions {
    font-size: 2rem; }
  .user-form .input-field {
    margin: 2rem auto; }
    .user-form .input-field input {
      text-align: center;
      width: 50%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      height: 1.5rem;
      font-size: 1rem;
      background: transparent;
      color: #FFFFFF; }
    .user-form .input-field ::-webkit-input-placeholder {
      color: #FFFFFF; }
  .user-form .submit-button {
    color: white;
    background: #332A7B;
    width: 5rem;
    margin: 0 auto;
    padding: .75rem 1rem;
    cursor: pointer;
    border-radius: 3px; }
    .user-form .submit-button.disabled {
      pointer-events: none;
      background: transparent;
      border: 2px solid #FFFFFF; }

.share {
  width: 80%;
  margin: 0 auto; }
  .share .share-help {
    font-size: 2rem; }
  .share .share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .share .share-buttons .share-button {
      width: 10rem;
      border: 1px solid #FFFFFF;
      padding: .5rem 1rem;
      border-radius: 3px;
      cursor: pointer; }
      .share .share-buttons .share-button:hover {
        background: #332A7B;
        border: transparent; }
      .share .share-buttons .share-button.disabled {
        pointer-events: none; }
    .share .share-buttons a {
      text-decoration: none;
      color: #FFFFFF; }

.sun {
  position: absolute;
  top: 0;
  left: 0;
  right: 64px;
  bottom: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffffe0;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px #ffffe0; }
  .sun .rays {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    -webkit-animation: ray-animation 120s linear infinite;
    animation: ray-animation 120s linear infinite; }
    .sun .rays .ray {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
      margin-left: 10px;
      border-radius: 80% 80% 0 0;
      position: absolute;
      opacity: 0.1; }
    .sun .rays .ray-1 {
      height: 170px;
      width: 30px;
      -webkit-transform: rotate(180deg);
      top: -175px;
      left: 15px; }
    .sun .rays .ray-2 {
      height: 100px;
      width: 8px;
      -webkit-transform: rotate(220deg);
      top: -90px;
      left: 75px; }
    .sun .rays .ray-3 {
      height: 170px;
      width: 30px;
      -webkit-transform: rotate(250deg);
      top: -80px;
      left: 100px; }
    .sun .rays .ray-4 {
      height: 120px;
      width: 14px;
      -webkit-transform: rotate(305deg);
      top: 30px;
      left: 100px; }
    .sun .rays .ray-5 {
      height: 140px;
      width: 30px;
      -webkit-transform: rotate(-15deg);
      top: 60px;
      left: 40px; }
    .sun .rays .ray-6 {
      height: 90px;
      width: 50px;
      -webkit-transform: rotate(30deg);
      top: 60px;
      left: -40px; }
    .sun .rays .ray-7 {
      height: 180px;
      width: 10px;
      -webkit-transform: rotate(70deg);
      top: -35px;
      left: -40px; }
    .sun .rays .ray-8 {
      height: 120px;
      width: 30px;
      -webkit-transform: rotate(100deg);
      top: -45px;
      left: -90px; }
    .sun .rays .ray-9 {
      height: 80px;
      width: 10px;
      -webkit-transform: rotate(120deg);
      top: -65px;
      left: -60px; }
    .sun .rays .ray-10 {
      height: 190px;
      width: 23px;
      -webkit-transform: rotate(150deg);
      top: -185px;
      left: -60px; }

@-webkit-keyframes ray-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body {
  margin: 0; }
